In [25]:
import pandas as pd
import numpy as np
import string
import re
import pickle

from tqdm import tqdm

from keras.models import Sequential
from keras.layers import Embedding, LSTM, Dense, Dropout
from keras.optimizers import Adam
from keras.initializers import Constant
from keras.preprocessing.text import Tokenizer
from keras.preprocessing.sequence import pad_sequences
from keras.callbacks import LearningRateScheduler

from sklearn.model_selection import train_test_split

In [2]:
df = pd.read_csv("training.1600000.processed.noemoticon.csv", encoding = "cp1252")
df

,Emotion,ID,Date,Query,Author,Text
0,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, t..."
1,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
2,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
3,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
4,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."
...,...,...,...,...,...,...
1599995,4,2193601966,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,AmandaMarie1028,Just woke up. Having no school is the best fee...
1599996,4,2193601969,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,TheWDBoards,TheWDB.com - Very cool to hear old Walt interv...
1599997,4,2193601991,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,bpbabe,Are you ready for your MoJo Makeover? Ask me f...
1599998,4,2193602064,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,tinydiamondz,Happy 38th Birthday to my boo of alll time!!! ...
1599999,4,2193602129,Tue Jun 16 08:40:50 PDT 2009,NO_QUERY,RyanTrevMorris,happy #charitytuesday @theNSPCC @SparksCharity...

In [3]:
# removing hashtags and mentions
def remove_hashatags_and_mentions(text):
    return re.sub(r'#\w*', r' ', re.sub(r'@\w*', r' ', str(text)))

df.Text = df.Text.apply(remove_hashatags_and_mentions)
df

,Emotion,ID,Date,Query,Author,Text
0,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"http://twitpic.com/2y1zl - Awww, that's a bu..."
1,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
2,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,I dived many times for the ball. Managed to ...
3,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
4,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"no, it's not behaving at all. i'm mad. why a..."
...,...,...,...,...,...,...
1599995,4,2193601966,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,AmandaMarie1028,Just woke up. Having no school is the best fee...
1599996,4,2193601969,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,TheWDBoards,TheWDB.com - Very cool to hear old Walt interv...
1599997,4,2193601991,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,bpbabe,Are you ready for your MoJo Makeover? Ask me f...
1599998,4,2193602064,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,tinydiamondz,Happy 38th Birthday to my boo of alll time!!! ...
1599999,4,2193602129,Tue Jun 16 08:40:50 PDT 2009,NO_QUERY,RyanTrevMorris,happy

In [4]:
# removing punctuation
def remove_punctuation(text):
    return text.translate(str.maketrans('', '', string.punctuation))

df.Text = df.Text.apply(remove_punctuation)
df

,Emotion,ID,Date,Query,Author,Text
0,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,httptwitpiccom2y1zl Awww thats a bummer Yo...
1,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he cant update his Facebook by t...
2,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,I dived many times for the ball Managed to s...
3,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
4,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,no its not behaving at all im mad why am i h...
...,...,...,...,...,...,...
1599995,4,2193601966,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,AmandaMarie1028,Just woke up Having no school is the best feel...
1599996,4,2193601969,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,TheWDBoards,TheWDBcom Very cool to hear old Walt intervie...
1599997,4,2193601991,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,bpbabe,Are you ready for your MoJo Makeover Ask me fo...
1599998,4,2193602064,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,tinydiamondz,Happy 38th Birthday to my boo of alll time Tup...
1599999,4,2193602129,Tue Jun 16 08:40:50 PDT 2009,NO_QUERY,RyanTrevMorris,happy

In [5]:
# prepare data for training

untokenized_texts = np.array(df.Text)
emotions = np.array(df.Emotion)

In [6]:
english_embedding_dict = {}
with open("glove.twitter.27B.200d.txt", "r", encoding="utf-8") as english_glove:
    for line in tqdm(english_glove):
        values = line.split()
        word = remove_punctuation(values[0])
        vectors = np.asarray(values[1:], 'float32')
        english_embedding_dict[word] = vectors

1193514it [01:12, 16461.13it/s]

In [7]:
EMBEDDING_LEN = 200

In [8]:
word_cnt = dict()
for text in tqdm(untokenized_texts):
    for word in text.split():
        word_cnt[word] = word_cnt.get(word, 0) + 1
clean_texts = []
for text in tqdm(untokenized_texts):
    clean_text = ' '.join([word for word in text.split() if word_cnt[word] > 10])
    clean_texts.append(clean_text)

100%|████████████████████████████████████████████████████████████████████| 1600000/1600000 [00:07<00:00, 206878.74it/s]
100%|████████████████████████████████████████████████████████████████████| 1600000/1600000 [00:05<00:00, 273359.74it/s]

In [9]:
tokenizer = Tokenizer(lower=True)
tokenizer.fit_on_texts(clean_texts)
padded_sequences = pad_sequences(tokenizer.texts_to_sequences(clean_texts), padding = 'post')
max_len = padded_sequences.shape[1]
word_index = tokenizer.word_index

embedding_matrix = np.zeros((len(word_index) + 1, EMBEDDING_LEN))
for word, i in tqdm(word_index.items()):
    embedding_matrix[i] = english_embedding_dict.get(word, np.zeros(EMBEDDING_LEN))

100%|████████████████████████████████████████████████████████████████████████| 29342/29342 [00:00<00:00, 326029.44it/s]

In [28]:
model = Sequential()
model.add(Embedding(
    len(word_index) + 1,
    EMBEDDING_LEN,
    embeddings_initializer=Constant(embedding_matrix),
    input_length=max_len,
    trainable=False,
))
model.add(LSTM(200))
model.add(Dropout(0.1))
model.add(Dense(500))
model.add(Dropout(0.1))
model.add(Dense(250))
model.add(Dropout(0.1))
model.add(Dense(5, activation='softmax'))

model.compile(loss='sparse_categorical_crossentropy', optimizer=Adam(learning_rate=1e-2), metrics=["accuracy"])

In [29]:
model.summary()

Model: "sequential_6"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
embedding_6 (Embedding)      (None, 40, 200)           5868600
_________________________________________________________________
lstm_6 (LSTM)                (None, 200)               320800
_________________________________________________________________
dropout_17 (Dropout)         (None, 200)               0
_________________________________________________________________
dense_17 (Dense)             (None, 500)               100500
_________________________________________________________________
dropout_18 (Dropout)         (None, 500)               0
_________________________________________________________________
dense_18 (Dense)             (None, 250)               125250
_________________________________________________________________
dropout_19 (Dropout)         (None, 250)               0
_________________________________________________________________
dense_19 (Dense)             (None, 5)                 1255
=================================================================
Total params: 6,416,405
Trainable params: 547,805
Non-trainable params: 5,868,600
_________________________________________________________________

In [30]:
texts_train, texts_test, values_train, values_test = train_test_split(padded_sequences, emotions, test_size = 0.85)

In [31]:
def scheduler(epoch, lr):
    if epoch < 10:
        return lr
    else:
        return lr * 0.9

In [32]:
callback = LearningRateScheduler(scheduler)
model.fit(texts_train, values_train, batch_size=512, callbacks=[callback], epochs=100) # , validation_data=(texts_test, values_test))

Epoch 1/100
469/469 [==============================] - 15s 27ms/step - loss: 1.4391 - accuracy: 0.4951
Epoch 2/100
469/469 [==============================] - 13s 28ms/step - loss: 0.6774 - accuracy: 0.5299
Epoch 3/100
469/469 [==============================] - 14s 30ms/step - loss: 0.4650 - accuracy: 0.78873s - loss: 0.4678 - accu - ETA: 2s - loss: 0.4674 - accu - ETA: 2s - loss: 0.467 - ETA: 2s - loss:
Epoch 4/100
469/469 [==============================] - 14s 31ms/step - loss: 0.4150 - accuracy: 0.8138
Epoch 5/100
469/469 [==============================] - 16s 33ms/step - loss: 0.3833 - accuracy: 0.8305
Epoch 6/100
469/469 [==============================] - 16s 34ms/step - loss: 0.3584 - accuracy: 0.8427
Epoch 7/100
469/469 [==============================] - 16s 33ms/step - loss: 0.3321 - accuracy: 0.8587
Epoch 8/100
469/469 [==============================] - 17s 35ms/step - loss: 1.5979 - accuracy: 0.8601
Epoch 9/100
469/469 [==============================] - 16s 35ms/step - loss: 1.7796 - accuracy: 0.50380s - loss: 1.7894 - accuracy:
Epoch 10/100
469/469 [==============================] - 16s 34ms/step - loss: 0.7105 - accuracy: 0.5117
Epoch 11/100
469/469 [==============================] - 16s 34ms/step - loss: 0.6989 - accuracy: 0.52260s - loss: 0
Epoch 12/100
469/469 [==============================] - 16s 34ms/step - loss: 0.6946 - accuracy: 0.54360s - loss: 0.6947 - accura
Epoch 13/100
469/469 [==============================] - 16s 35ms/step - loss: 0.6834 - accuracy: 0.5788
Epoch 14/100
469/469 [==============================] - 16s 35ms/step - loss: 0.6435 - accuracy: 0.6372
Epoch 15/100
469/469 [==============================] - 17s 36ms/step - loss: 0.5940 - accuracy: 0.6948
Epoch 16/100
469/469 [==============================] - 16s 35ms/step - loss: 0.5515 - accuracy: 0.7294
Epoch 17/100
469/469 [==============================] - 18s 37ms/step - loss: 0.5234 - accuracy: 0.7495
Epoch 18/100
469/469 [==============================] - 17s 35ms/step - loss: 0.5039 - accuracy: 0.76185s - los - ETA: 1s - l
Epoch 19/100
469/469 [==============================] - 16s 35ms/step - loss: 0.4917 - accuracy: 0.7688
Epoch 20/100
469/469 [==============================] - 17s 36ms/step - loss: 0.4725 - accuracy: 0.7812
Epoch 21/100
469/469 [==============================] - 17s 36ms/step - loss: 0.4590 - accuracy: 0.7889
Epoch 22/100
469/469 [==============================] - 17s 36ms/step - loss: 0.4476 - accuracy: 0.79500s - loss: 0
Epoch 23/100
469/469 [==============================] - 16s 35ms/step - loss: 0.4353 - accuracy: 0.8020
Epoch 24/100
469/469 [==============================] - 16s 35ms/step - loss: 0.4259 - accuracy: 0.8068
Epoch 25/100
469/469 [==============================] - 16s 35ms/step - loss: 0.4193 - accuracy: 0.8125
Epoch 26/100
469/469 [==============================] - 16s 35ms/step - loss: 0.4092 - accuracy: 0.8183
Epoch 27/100
469/469 [==============================] - 16s 35ms/step - loss: 0.3941 - accuracy: 0.8252
Epoch 28/100
469/469 [==============================] - 17s 35ms/step - loss: 0.3858 - accuracy: 0.8307
Epoch 29/100
469/469 [==============================] - 16s 35ms/step - loss: 0.3768 - accuracy: 0.8362
Epoch 30/100
469/469 [==============================] - 16s 35ms/step - loss: 0.3684 - accuracy: 0.84040s - loss: 0.3684 - accuracy: 0.84
Epoch 31/100
469/469 [==============================] - 16s 35ms/step - loss: 0.3563 - accuracy: 0.8478
Epoch 32/100
469/469 [==============================] - 16s 35ms/step - loss: 0.3491 - accuracy: 0.8525
Epoch 33/100
469/469 [==============================] - 17s 36ms/step - loss: 0.3402 - accuracy: 0.8571
Epoch 34/100
469/469 [==============================] - 17s 35ms/step - loss: 0.3322 - accuracy: 0.86200s - loss:
Epoch 35/100
469/469 [==============================] - 18s 37ms/step - loss: 0.3243 - accuracy: 0.8660
Epoch 36/100
469/469 [==============================] - 18s 37ms/step - loss: 0.3133 - accuracy: 0.8724
Epoch 37/100
469/469 [==============================] - 17s 36ms/step - loss: 0.3054 - accuracy: 0.8761
Epoch 38/100
469/469 [==============================] - 17s 36ms/step - loss: 0.3009 - accuracy: 0.8788
Epoch 39/100
469/469 [==============================] - 17s 36ms/step - loss: 0.2915 - accuracy: 0.8843
Epoch 40/100
469/469 [==============================] - 16s 35ms/step - loss: 0.2842 - accuracy: 0.8880
Epoch 41/100
469/469 [==============================] - 16s 35ms/step - loss: 0.2815 - accuracy: 0.8902
Epoch 42/100
469/469 [==============================] - 16s 35ms/step - loss: 0.2772 - accuracy: 0.8923
Epoch 43/100
469/469 [==============================] - 16s 35ms/step - loss: 0.2715 - accuracy: 0.89540s - loss: 0.271
Epoch 44/100
469/469 [==============================] - 17s 36ms/step - loss: 0.2665 - accuracy: 0.8982
Epoch 45/100
469/469 [==============================] - 17s 36ms/step - loss: 0.2599 - accuracy: 0.9016
Epoch 46/100
469/469 [==============================] - 17s 36ms/step - loss: 0.2566 - accuracy: 0.9035
Epoch 47/100
469/469 [==============================] - 17s 37ms/step - loss: 0.2528 - accuracy: 0.9056
Epoch 48/100
469/469 [==============================] - 16s 35ms/step - loss: 0.2494 - accuracy: 0.9079
Epoch 49/100
469/469 [==============================] - 16s 35ms/step - loss: 0.2469 - accuracy: 0.90910s - loss: 0.2469 - accuracy: 0.90
Epoch 50/100
469/469 [==============================] - 16s 34ms/step - loss: 0.2461 - accuracy: 0.90971s - l - ETA: 0s - los
Epoch 51/100
469/469 [==============================] - 17s 36ms/step - loss: 0.2404 - accuracy: 0.9128
Epoch 52/100
469/469 [==============================] - 16s 34ms/step - loss: 0.2384 - accuracy: 0.91390s - loss: 0.2384  - ETA: 0s - loss: 0.2384 - accura
Epoch 53/100
469/469 [==============================] - 16s 35ms/step - loss: 0.2368 - accuracy: 0.9152
Epoch 54/100
469/469 [==============================] - 16s 35ms/step - loss: 0.2340 - accuracy: 0.9166
Epoch 55/100
469/469 [==============================] - 17s 36ms/step - loss: 0.2321 - accuracy: 0.9169
Epoch 56/100
469/469 [==============================] - 17s 36ms/step - loss: 0.2291 - accuracy: 0.9182
Epoch 57/100
469/469 [==============================] - 16s 35ms/step - loss: 0.2290 - accuracy: 0.9189
Epoch 58/100
469/469 [==============================] - 16s 35ms/step - loss: 0.2304 - accuracy: 0.9190
Epoch 59/100
469/469 [==============================] - 16s 35ms/step - loss: 0.2258 - accuracy: 0.9207
Epoch 60/100
469/469 [==============================] - 16s 35ms/step - loss: 0.2270 - accuracy: 0.9200
Epoch 61/100
469/469 [==============================] - 16s 35ms/step - loss: 0.2262 - accuracy: 0.9200
Epoch 62/100
469/469 [==============================] - 16s 35ms/step - loss: 0.2237 - accuracy: 0.9212
Epoch 63/100
469/469 [==============================] - 17s 37ms/step - loss: 0.2225 - accuracy: 0.9214
Epoch 64/100
469/469 [==============================] - 17s 35ms/step - loss: 0.2237 - accuracy: 0.92150s - loss: 0.2237 -
Epoch 65/100
469/469 [==============================] - 17s 35ms/step - loss: 0.2214 - accuracy: 0.92250s - loss: 0.2214 - accuracy:
Epoch 66/100
469/469 [==============================] - 17s 35ms/step - loss: 0.2222 - accuracy: 0.9223
Epoch 67/100
469/469 [==============================] - 17s 35ms/step - loss: 0.2215 - accuracy: 0.9225
Epoch 68/100
469/469 [==============================] - 17s 35ms/step - loss: 0.2191 - accuracy: 0.9238
Epoch 69/100
469/469 [==============================] - 17s 36ms/step - loss: 0.2205 - accuracy: 0.9231
Epoch 70/100
469/469 [==============================] - 16s 35ms/step - loss: 0.2209 - accuracy: 0.9229
Epoch 71/100
469/469 [==============================] - 17s 35ms/step - loss: 0.2177 - accuracy: 0.9242
Epoch 72/100
469/469 [==============================] - 17s 35ms/step - loss: 0.2175 - accuracy: 0.9248
Epoch 73/100
469/469 [==============================] - 17s 35ms/step - loss: 0.2211 - accuracy: 0.9226
Epoch 74/100
469/469 [==============================] - 16s 35ms/step - loss: 0.2184 - accuracy: 0.9237
Epoch 75/100

469/469 [==============================] - 16s 35ms/step - loss: 0.2184 - accuracy: 0.9243
Epoch 76/100
469/469 [==============================] - 16s 35ms/step - loss: 0.2189 - accuracy: 0.9239
Epoch 77/100
469/469 [==============================] - 16s 35ms/step - loss: 0.2184 - accuracy: 0.9244
Epoch 78/100
469/469 [==============================] - 17s 36ms/step - loss: 0.2184 - accuracy: 0.9243
Epoch 79/100
469/469 [==============================] - 17s 35ms/step - loss: 0.2158 - accuracy: 0.9249
Epoch 80/100
469/469 [==============================] - 17s 35ms/step - loss: 0.2167 - accuracy: 0.9248
Epoch 81/100
469/469 [==============================] - 16s 35ms/step - loss: 0.2155 - accuracy: 0.9256
Epoch 82/100
469/469 [==============================] - 16s 35ms/step - loss: 0.2175 - accuracy: 0.9247
Epoch 83/100
469/469 [==============================] - 17s 35ms/step - loss: 0.2166 - accuracy: 0.9243
Epoch 84/100
469/469 [==============================] - 16s 35ms/step - loss: 0.2174 - accuracy: 0.9247
Epoch 85/100
469/469 [==============================] - 16s 35ms/step - loss: 0.2171 - accuracy: 0.9244
Epoch 86/100
469/469 [==============================] - 17s 35ms/step - loss: 0.2165 - accuracy: 0.9254
Epoch 87/100
469/469 [==============================] - 17s 35ms/step - loss: 0.2167 - accuracy: 0.9250
Epoch 88/100
469/469 [==============================] - 17s 35ms/step - loss: 0.2145 - accuracy: 0.9257
Epoch 89/100
469/469 [==============================] - 16s 35ms/step - loss: 0.2161 - accuracy: 0.9252
Epoch 90/100
469/469 [==============================] - 16s 35ms/step - loss: 0.2154 - accuracy: 0.9256
Epoch 91/100
469/469 [==============================] - 16s 35ms/step - loss: 0.2174 - accuracy: 0.9245
Epoch 92/100
469/469 [==============================] - 16s 35ms/step - loss: 0.2159 - accuracy: 0.9252
Epoch 93/100
469/469 [==============================] - 16s 35ms/step - loss: 0.2193 - accuracy: 0.9241
Epoch 94/100
469/469 [==============================] - 17s 35ms/step - loss: 0.2169 - accuracy: 0.9249
Epoch 95/100
469/469 [==============================] - 17s 35ms/step - loss: 0.2174 - accuracy: 0.9242
Epoch 96/100
469/469 [==============================] - 17s 35ms/step - loss: 0.2181 - accuracy: 0.9239
Epoch 97/100
469/469 [==============================] - 17s 36ms/step - loss: 0.2157 - accuracy: 0.9250
Epoch 98/100
469/469 [==============================] - 17s 36ms/step - loss: 0.2156 - accuracy: 0.9259
Epoch 99/100
469/469 [==============================] - 16s 35ms/step - loss: 0.2172 - accuracy: 0.9247
Epoch 100/100
469/469 [==============================] - 17s 35ms/step - loss: 0.2168 - accuracy: 0.9249

In [43]:
model.evaluate(texts_test, values_test, batch_size=512)

2657/2657 [==============================] - 29s 11ms/step - loss: 0.7685 - accuracy: 0.7522

[0.7684650421142578, 0.7521801590919495]

In [33]:
def predict_emotion(text):
    model_input = pad_sequences(tokenizer.texts_to_sequences([text]), maxlen=max_len, padding="post")
    model_output = sum(np.array(model.predict(model_input)[0]) * np.array([0, 1, 2, 3, 4]))
    return f"Sentence is positive for {(model_output / 4) * 100} %"

In [42]:
predict_emotion("I feel tired after working long hours")

'Sentence is positive for 7.814992964267731 %'

In [38]:
with open('tokenizer_1_6B_set.pickle', 'wb') as handle:
    pickle.dump(tokenizer, handle, protocol=pickle.HIGHEST_PROTOCOL)

model.save('model_1_6B_set_LSTM_1_hidden_layer')

WARNING:absl:Found untraced functions such as lstm_cell_6_layer_call_and_return_conditional_losses, lstm_cell_6_layer_call_fn, lstm_cell_6_layer_call_fn, lstm_cell_6_layer_call_and_return_conditional_losses, lstm_cell_6_layer_call_and_return_conditional_losses while saving (showing 5 of 5). These functions will not be directly callable after loading.
WARNING:absl:Found untraced functions such as lstm_cell_6_layer_call_and_return_conditional_losses, lstm_cell_6_layer_call_fn, lstm_cell_6_layer_call_fn, lstm_cell_6_layer_call_and_return_conditional_losses, lstm_cell_6_layer_call_and_return_conditional_losses while saving (showing 5 of 5). These functions will not be directly callable after loading.

INFO:tensorflow:Assets written to: model_1_6B_set_LSTM_1_hidden_layer\assets

INFO:tensorflow:Assets written to: model_1_6B_set_LSTM_1_hidden_layer\assets